<div id="loginBG">

	<div id="logoDiv" layout="row" flex="60" flex-offset="20" flex-gt-sm="30" flex-offset-gt-sm="35">
		<img src="./img/AERO_logo_med.png" class="loginAeroLogo">
	</div>

	<div id="loginDiv" layout="column" flex>
		<form >
			<div layout="row" flex="60" flex-offset="20" flex-gt-sm="20" flex-offset-gt-sm="40">
				<md-input-container flex class="inputDiv">
					<label>login</label>
					<input name="login" type="text" ng-model="loginName" class="validate">
				</md-input-container>
			</div>

			<div layout="row" flex="60" flex-offset="20" flex-gt-sm="20" flex-offset-gt-sm="40">
				<md-input-container flex class="inputDiv">
					<label>password</label>
					<input name="password" type="password" ng-model="password" class="validate">
					<p class="errorMsg">{{errorMsg}}</p>
					<p ng-show="noUser" class="errorMsg">Sorry, login does not exist</p>
				</md-input-container>
			</div>

			<div layout="row" flex layout-align="center">
				<md-button class="md-raised" ng-click="login()">login</md-button>
			</div>
		</form>
	</div>

</div>
