@import 'vars';

#loginBG {
	min-height: calc(100vh);
  background: url(../img/homeBG.png);
  background-size: cover;
  background-position: center;
}

#logoDiv {
	padding-top: 20px;
}

img.loginAeroLogo {
	width: 100%;
	height: 100%;
}

.noBtmMargin {
	margin-bottom: 0;
}

.inputDiv {
	margin: 0;
}

.dividerDiv {
	margin: 10px 0;
	border-top: 1px solid $divider-color;
}

.teamBtnDiv {
	margin-bottom: 10px;
}

.instructText {
	font-size: .9rem;
	font-style: italic;
}
